@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #3d3d3d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}



a {
  text-decoration: none;
}

//@media (max-width: 1024px) {
//  html {
//    font-size: 15px;
//  }
//}
//
//@media (max-width: 992px) {
//  html {
//    font-size: 14px;
//  }
//
//}
//
//@media (max-width: 768px) {
//  html {
//    font-size: 13px;
//  }
//}


.cursor-pointer {
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid rgba(35, 35, 35, 0.2);
}

.border-left {
  border-left: 1px solid rgba(35, 35, 35, 0.2);
}

.trans {
  transition: 0.3s;
}

.content-site {
  width: 100%;
  height: 100vh;
  @include flex('s', 's');
}

.main-content {
  width: calc(100% - 68px);

  &-menu {
    width: 100%;
  }

  &-tab {
    color: rgba(35, 35, 35, 0.8);;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    padding: 10px 12px;
    border-bottom: 2px solid rgba(35, 35, 35, 0.07);

    &.active {
      color: rgb(46, 159, 101);
      border-bottom: 2px solid rgb(46, 159, 101);
    }

    .icon-check{
      display: none;
    }

    &.nav-step-successes{
      border-bottom: 2px solid rgba(46, 159, 101, 0.5);
      .step-count{
        display: none;
      }
      .icon-check{
        display: inline-block;
      }
    }
  }

  &-push {
    margin-left: 12px;
    width: 56px;
    height: 56px;
    @include flex('c', 'c');
    cursor: pointer;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 15px;
      top: 15px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgb(235, 87, 87);
    }
  }
}

.menu-left {
  position: static;
  width: 68px;
  height: 100vh;
  box-shadow: 0 12px 28px 0 rgba(0, 32, 51, 0.12), 0 8px 8px 0 rgba(0, 32, 51, 0.04);
  background: rgb(255, 255, 255);
  @include flex('s', 'c');
  flex-direction: column;

  &-item {
    border-radius: 50%;
    cursor: pointer;
    @include flex('c', 'c');
    margin-bottom: 10px;

    &.active {
      color: #2E9F65;
      background-color: rgba(46, 159, 101, 0.26);
    }

    &:hover {
      span {
        color: #2E9F65;
      }
    }
  }
}

.balance-dropdown {
  .dropdown-toggle {
    width: 172px;
    background: rgba(35, 35, 35, 0.07);
    border: 0;
    border-radius: 0;
    color: rgba(35, 35, 35, 0.8);
  }

  .dropdown-menu {
    border: 2px solid rgba(35, 35, 35, 0.28);
    border-radius: 0;
    margin-top: -2px;
    width: 172px;

    .dropdown-item {
      color: #232323;
      border-left: 3px solid transparent;
      font-size: 14px;

      &:active{
        background-color: #2E9F65;
        color: #fff !important;
      }
      &:hover {
        color: #2E9F65;
        border-left: 3px solid #2E9F65;
      }
    }
  }
}

.default-search {
  width: 308px;
  height: 40px;
  border: 1px solid rgba(35, 35, 35, 0.28);
  @include flex('s', 'c');
  padding-left: 10px;
  overflow: hidden;

  input{
    width: 100%;
  }
  span {
    color: rgba(35, 35, 35, 0.35);
    margin-right: 10px;
  }
}

.form-check-label {
  color: rgb(35, 35, 35);
  font-weight: 400;
  line-height: 150%;
  @include flex('s', 's');

  input {
    margin-right: 5px;

    &:checked {
      border: #2E9F65;
      background-color: #2E9F65;
    }

    &:focus {
      border-color: #2E9F65;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(46, 159, 101, 0.37);
    }
  }
}


.default-input {
  height: 40px;
  border: 1px solid #23232347;
  width: 100%;
  padding-left: 5px;

  input {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 16px;
    padding-left: 8px;
  }
}

.default-range {
  @include flex('s', 'c');

  span {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #23232347;
    position: relative;
    transition: border 0.3s;
    margin-right: 5px;

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #2E9F65;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &.min{
    span{
      width: 12px;
      min-width: 12px;
      height: 12px;
      &:after {
        width: 6px;
        height: 6px;
      }
    }
  }

  input:checked ~ span {
    border: 1px solid #2E9F65;
  }

  input:checked ~ span:after {
    opacity: 1;
  }

}

.upload-design {
  width: 100%;
  padding: 27px;
  border: 2px dashed rgba(35, 35, 35, 0.28);
}

.green-btn {
  height: 40px;
  background-color: #2E9F65;
  color: #fff;
  padding: 0 16px;
  transition: 0.3s;

  &:hover {
    background-color: #248d58;
  }

  &.outline{
    background-color: #fff;
    color: #248d58;
    border: 1px solid #248d58;
    border-radius: 5px;
  }
}

.ads-company-row {
  height: calc(100vh - 69px);
  overflow: auto;
}

.default-table {
  width: 100%;
  border: 1px solid rgba(35, 35, 35, 0.2);

  th, td {
    height: 65px;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid rgba(35, 35, 35, 0.2);
    border-bottom: 1px solid rgba(35, 35, 35, 0.2);
  }

  .dropdown{
    .btn{
      width: 30px;
      background-color: transparent;
      &:after{
        display: none;
      }
    }
  }
}

.default-tooltip {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 1;


  &-text {
    position: absolute;
    top: 0;
    left: -5px;
    font-size: 12px;
    background: #ffffff;
    color: #232323;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background: #ffffff;
      bottom: -3px;
      left: 15px;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

  }

  &.right{
    pointer-events: unset !important;
    .default-tooltip-text{
      top: 100% !important;
      right: 0;
      left: unset;
      transform: translate(100%, -27px) rotate(0) !important;
      &::before{
        top: 12px;
        left: 0px;
      }
    }
  }

  &:hover{
    span:before{
      color: #0C4D29;
    }
    .default-tooltip-text{
      top: -100%;
      transform: translateY(-100%) rotate(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.exit-navbar{
  position: relative;

  &:hover{
    .exit-navbar-body{
      display: block;
    }
  }
  &-body{
    position: absolute;
    width: 133px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    top: calc(100% + 5px);
    right: -10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: none;
    &:before{
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background: #fff;
      top: -3px;
      right: 15px;
      transform: translate(-50%) rotate(45deg);
    }

  }
}

.btn-danger{
  padding: 8px 14px;
  color: #232323CC;
  background-color: #23232312;
}

.ms-parent input[type="checkbox"],
.default-checkbox {
  --hover-background: rgba(46, 159, 101, 0.20);
  --checkmark-svg: url('../images/icons/check.svg');
  --indeterminate-svg: url('../images/icons/minous.svg');

  display: inline-block;
  height: 1rem;
  width: 1rem;
  position: relative;
  cursor: pointer;
  appearance: none; // disable default browser styles
  color: currentColor; // use same color as surrounding text
  border-radius: 4px;
  border: 1px solid #23232347;
  background-color: #fff;

  &:disabled {
    cursor: not-allowed;
  }


  &::before {
    content: "";
    position: absolute;
    inset: -0.75rem;
    border-radius: 50%;
    transition: background-color 200ms;

    @media (pointer: coarse) {
      inset: -1.25rem;
      --hover-background: transparent;
    }
  }

  //&:enabled:where(:hover, :focus-visible) {
  //  outline-offset: 1px;
  //
  //  &::before {
  //    background-color: var(--hover-background);
  //  }
  //}

  &:checked{
    border: 1px solid #2E9F65;
    background-color: #2E9F65;
  }

  &.input-indeterminate{
    &:indeterminate{
      border: 1px solid #2E9F65;
      background-color: #2E9F65;
    }
    &:indeterminate::after {
      content: "";
      position: absolute;
      inset: 0;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 10px;
      background-color: #fff;
    }

    &:indeterminate::after {
      mask-image: var(--indeterminate-svg);
    }
  }

  &:checked::after {
    content: "";
    position: absolute;
    inset: 0;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 10px;
    background-color: #fff;
  }

  &:checked::after {
    mask-image: var(--checkmark-svg);
  }
}

.form-switch{
  @include flex('s', 'c');
  .form-check-input{
    width: 36px;
    min-width: 36px;
    height: 20px;
    margin-right: 8px;
    &:checked{
      background-color: #2E9F65;
      border-color: #2E9F65;
    }
  }
}

.ms-parent{
  width: 100% !important;
  .placeholder{
    display: none !important;
  }
  .bottom{
    border-radius: 0;
    border-color: #23232347;
  }
  .ms-choice{
    height: 40px;
    border-radius: 0;
    position: relative;
    border-color: #23232347;
    span{
      height: 40px !important;
      padding-top: 5px;
      width: 82%;
      color: #23232359;
    }
    &:after{
      content: "";
      position: absolute;
      width: 0.5px;
      height: 100%;
      background: #23232347;
      right: 35px;
      top: 0;
    }
  }
  .icon-caret{
    right: 14px !important;
  }
  ul>li label{
    font-size: 16px;
    color: #232323;
  }
}
.accordion-button:not(.collapsed), .accordion-button{
  background-color: #23232312;
  border-radius: 0;
  box-shadow: unset;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;

  &:focus{
    outline: 0;
    box-shadow: unset;
  }
}


.billboard-accordion-item{
  border: 0;
  border-radius: 0;
}

.month-time-item{
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  margin-right: 10px;
  height: 75px;
  width: 16px;
  span{
    white-space: nowrap;
    transform: rotate(-90deg) translate(15px, -14px);
  }
}


.design-tab{
  border: 1px solid #23232333;
  width: 800px;

  &-item{
   @include flex('s', 'c');
    color: #232323;
    font-size: 14px;
    border-bottom: 1px solid #23232333;

    .openClose-design-tab{
      transition: 0.3s;
      transform: rotate(0deg);
    }
    &.design-tab-item-body{
      border-bottom: 0 solid #23232333;
      .solid{
        height: 76px;
      }
    }

    &-td{
      height: 40px;
      @include flex('s', 'c');
      border-right: 1px solid lightgrey;
      padding-right: 12px;
      padding-left: 12px;
      white-space: nowrap;

      &:last-child{
        border-right: 0;
      }
    }
  }

  .design-tab-item-body{
    overflow: hidden;
    height: 0;
    transition: 0.3s;
    .design-tab-item-td{
      height: 76px;
      //border-right-color: transparent;
      padding: 0 5px;
    }
  }

  .design-tab-body{
    &.active{
      .design-tab-item-body{
        height: auto;
        overflow: unset;
      }
      .openClose-design-tab{
        transform: rotate(-180deg);
      }
    }



  }
  .solid{
    display: inline-block;
    width: 0.5px;
    height: 40px;
    background-color: #23232333;
    margin: 0 10px;
    &.none{
      background-color: transparent;
    }

    &.transformed{
      transform: translateX(1px);
    }
  }
}





.c-white-100 {
  color: #FFFFFF19 !important
}

.bgc-white-100 {
  background-color: #FFFFFF19 !important
}

.c-white-200 {
  color: #FFFFFF33 !important
}

.bgc-white-200 {
  background-color: #FFFFFF33 !important
}

.c-white-300 {
  color: #FFFFFF4c !important
}

.bgc-white-300 {
  background-color: #FFFFFF4c !important
}

.c-white-400 {
  color: #FFFFFF66 !important
}

.bgc-white-400 {
  background-color: #FFFFFF66 !important
}

.c-white-500 {
  color: #FFFFFF7f !important
}

.bgc-white-500 {
  background-color: #FFFFFF7f !important
}

.c-white-600 {
  color: #FFFFFF99 !important
}

.bgc-white-600 {
  background-color: #FFFFFF99 !important
}

.c-white-700 {
  color: #FFFFFFb2 !important
}

.bgc-white-700 {
  background-color: #FFFFFFb2 !important
}

.c-white-800 {
  color: #FFFFFFcc !important
}

.bgc-white-800 {
  background-color: #FFFFFFcc !important
}

.c-white-900 {
  color: #FFFFFFe5 !important
}

.bgc-white-900 {
  background-color: #FFFFFFe5 !important
}

.c-blackTitle-100 {
  color: #00203319 !important
}

.bgc-blackTitle-100 {
  background-color: #00203319 !important
}

.c-blackTitle-200 {
  color: #00203333 !important
}

.bgc-blackTitle-200 {
  background-color: #00203333 !important
}

.c-blackTitle-300 {
  color: #0020334c !important
}

.bgc-blackTitle-300 {
  background-color: #0020334c !important
}

.c-blackTitle-400 {
  color: #00203366 !important
}

.bgc-blackTitle-400 {
  background-color: #00203366 !important
}

.c-blackTitle-500 {
  color: #0020337f !important
}

.bgc-blackTitle-500 {
  background-color: #0020337f !important
}

.c-blackTitle-600 {
  color: #00203399 !important
}

.bgc-blackTitle-600 {
  background-color: #00203399 !important
}

.c-blackTitle-700 {
  color: #002033b2 !important
}

.bgc-blackTitle-700 {
  background-color: #002033b2 !important
}

.c-blackTitle-800 {
  color: #002033cc !important
}

.bgc-blackTitle-800 {
  background-color: #002033cc !important
}

.c-blackTitle-900 {
  color: #002033e5 !important
}

.bgc-blackTitle-900 {
  background-color: #002033e5 !important
}

.c-black-100 {
  color: #23232319 !important
}

.bgc-black-100 {
  background-color: #23232319 !important
}

.c-black-200 {
  color: #23232333 !important
}

.bgc-black-200 {
  background-color: #23232333 !important
}

.c-black-300 {
  color: #2323234c !important
}

.bgc-black-300 {
  background-color: #2323234c !important
}

.c-black-400 {
  color: #23232366 !important
}

.bgc-black-400 {
  background-color: #23232366 !important
}

.c-black-500 {
  color: #2323237f !important
}

.bgc-black-500 {
  background-color: #2323237f !important
}

.c-black-600 {
  color: #23232399 !important
}

.bgc-black-600 {
  background-color: #23232399 !important
}

.c-black-700 {
  color: #232323b2 !important
}

.bgc-black-700 {
  background-color: #232323b2 !important
}

.c-black-800 {
  color: #232323cc !important
}

.bgc-black-800 {
  background-color: #232323cc !important
}

.c-black-900 {
  color: #232323e5 !important
}

.bgc-black-900 {
  background-color: #232323e5 !important
}

.c-green-100 {
  color: #2E9F6519 !important
}

.bgc-green-100 {
  background-color: #2E9F6519 !important
}

.c-green-200 {
  color: #2E9F6533 !important
}

.bgc-green-200 {
  background-color: #2E9F6533 !important
}

.c-green-300 {
  color: #2E9F654c !important
}

.bgc-green-300 {
  background-color: #2E9F654c !important
}

.c-green-400 {
  color: #2E9F6566 !important
}

.bgc-green-400 {
  background-color: #2E9F6566 !important
}

.c-green-500 {
  color: #2E9F657f !important
}

.bgc-green-500 {
  background-color: #2E9F657f !important
}

.c-green-600 {
  color: #2E9F6599 !important
}

.bgc-green-600 {
  background-color: #2E9F6599 !important
}

.c-green-700 {
  color: #2E9F65b2 !important
}

.bgc-green-700 {
  background-color: #2E9F65b2 !important
}

.c-green-800 {
  color: #2E9F65cc !important
}

.bgc-green-800 {
  background-color: #2E9F65cc !important
}

.c-green-900 {
  color: #2E9F65e5 !important
}

.bgc-green-900 {
  background-color: #2E9F65e5 !important
}

.c-red-100 {
  color: #EB575719 !important
}

.bgc-red-100 {
  background-color: #EB575719 !important
}

.c-red-200 {
  color: #EB575733 !important
}

.bgc-red-200 {
  background-color: #EB575733 !important
}

.c-red-300 {
  color: #EB57574c !important
}

.bgc-red-300 {
  background-color: #EB57574c !important
}

.c-red-400 {
  color: #EB575766 !important
}

.bgc-red-400 {
  background-color: #EB575766 !important
}

.c-red-500 {
  color: #EB57577f !important
}

.bgc-red-500 {
  background-color: #EB57577f !important
}

.c-red-600 {
  color: #EB575799 !important
}

.bgc-red-600 {
  background-color: #EB575799 !important
}

.c-red-700 {
  color: #EB5757b2 !important
}

.bgc-red-700 {
  background-color: #EB5757b2 !important
}

.c-red-800 {
  color: #EB5757cc !important
}

.bgc-red-800 {
  background-color: #EB5757cc !important
}

.c-red-900 {
  color: #EB5757e5 !important
}

.bgc-red-900 {
  background-color: #EB5757e5 !important
}

.c-yellow-100 {
  color: #FFA10A19 !important
}

.bgc-yellow-100 {
  background-color: #FFA10A19 !important
}

.c-yellow-200 {
  color: #FFA10A33 !important
}

.bgc-yellow-200 {
  background-color: #FFA10A33 !important
}

.c-yellow-300 {
  color: #FFA10A4c !important
}

.bgc-yellow-300 {
  background-color: #FFA10A4c !important
}

.c-yellow-400 {
  color: #FFA10A66 !important
}

.bgc-yellow-400 {
  background-color: #FFA10A66 !important
}

.c-yellow-500 {
  color: #FFA10A7f !important
}

.bgc-yellow-500 {
  background-color: #FFA10A7f !important
}

.c-yellow-600 {
  color: #FFA10A99 !important
}

.bgc-yellow-600 {
  background-color: #FFA10A99 !important
}

.c-yellow-700 {
  color: #FFA10Ab2 !important
}

.bgc-yellow-700 {
  background-color: #FFA10Ab2 !important
}

.c-yellow-800 {
  color: #FFA10Acc !important
}

.bgc-yellow-800 {
  background-color: #FFA10Acc !important
}

.c-yellow-900 {
  color: #FFA10Ae5 !important
}

.bgc-yellow-900 {
  background-color: #FFA10Ae5 !important
}

.pt-19 {
  padding-top: 1.1875rem
}

.fs-12 {
  font-size: 0.75rem
}

.c-black {
  color: #232323
}

.fw-500 {
  font-weight: 500
}

.h-28 {
  height: 1.75rem
}

.h-105 {
  height: 6.5625rem
}

.fs-16 {
  font-size: 1rem
}

.mt-85 {
  margin-top: 5.3125rem
}

.w-288 {
  width: 18rem
}


.h-69 {
  height: 4.3125rem
}

.br-0 {
  border-radius: 0 !important;
}

.w-56 {
  width: 3.5rem
}

.minh-56 {
  min-height: 3.5rem
}

.fs-18 {
  font-size: 1.125rem
}

.ps-24 {
  padding-left: 1.5rem
}

.fs-14 {
  font-size: 0.875rem
}

.pt-19 {
  padding-top: 1.1875rem
}

.h-100 {
  height: 6.25rem
}

.fs-24 {
  font-size: 1.5rem
}

.fw-bold {
  font-weight: bold
}

.fs-16 {
  font-size: 1rem
}

.c-black {
  color: #232323
}


.mb-10 {
  margin-bottom: 0.625rem
}

.right-10 {
  right: 0.625rem
}

.top-10 {
  top: 0.625rem
}

.fs-12 {
  font-size: 0.75rem
}


.bgc-white {
  background-color: #FFFFFF
}

.bc-green {
  border-color: #2E9F65 !important
}

.c-green {
  color: #2E9F65
}

.pt-15 {
  padding-top: 0.9375rem
}

.fs-36 {
  font-size: 2.25rem
}

.lh-24 {
  line-height: 1.5rem
}

.w-50 {
  width: 3.125rem
}

.mb-40 {
  margin-bottom: 2.5rem
}

.pt-10 {
  padding-top: 0.625rem
}

.h-32 {
  height: 2rem !important
}

.h-30 {
  height: 1.875rem !important
}

.w-74 {
  width: 4.625rem
}

.ps-25 {
  padding-left: 1.5625rem
}

.w-200 {
  width: 12.5rem
}

.w-80 {
  width: 5rem
}


.w-85 {
  width: 5.3125rem
}

.minw-133 {
  min-width: 8.3125rem
}

.minw-71 {
  min-width: 4.4375rem
}

.w-183 {
  width: 11.4375rem
}

.minw-183 {
  min-width: 11.4375rem
}

.w-133 {
  width: 8.3125rem
}

.c-yellow {
  color: #FFA10A
}

.c-red {
  color: #EB5757
}

.w-800 {
  width: 50rem
}

.w-128 {
  width: 8rem
}

.h-64 {
  height: 4rem
}

.w-770 {
  width: 48.125rem
}

.gap-10 {
  gap: 0.625rem
}

.ps-61 {
  padding-left: 3.8125rem
}

.w-40 {
  width: 2.5rem
}

.h-40 {
  height: 2.5rem
}

.br-6 {
  border-radius: 0.375rem
}

.w-159 {
  width: 9.9375rem
}

.fw-bolder {
  font-weight: bolder
}

.w-20 {
  width: 1.25rem
}

.h-20 {
  height: 1.25rem
}

.mt-40 {
  margin-top: 2.5rem
}

.mt-42 {
  margin-top: 2.625rem
}

.mt-24 {
  margin-top: 1.5rem
}

.mt-10 {
  margin-top: 0.625rem
}

.fs-14 {
  font-size: 0.875rem
}

.w-500 {
  width: 31.25rem
}

.c-red {
  color: #EB5757
}

.w-24 {
  width: 1.5rem
}

.h-24 {
  height: 1.5rem
}

.fs-20 {
  font-size: 1.25rem
}

.c-black {
  color: #232323
}

.h-100 {
  height: 6.25rem
}

.w-80 {
  width: 80%
}

.c-green {
  color: #2E9F65
}

.mb-40 {
  margin-bottom: 2.5rem
}

.bgc-white {
  background-color: #FFFFFF
}

.bc-green {
  border-color: #2E9F65 !important
}

.w-500 {
  width: 31.25rem
}

.c-red {
  color: #EB5757
}

.h-100 {
  height: 6.25rem
}

.c-black {
  color: #232323
}

.w-90 {
  width: 90%
}

.c-green {
  color: #2E9F65
}

.fs-14 {
  font-size: 0.875rem
}

.c-red {
  color: #EB5757
}

.w-10 {
  width: 0.625rem
}

.fs-11 {
  font-size: 0.6875rem
}

.fs-14 {
  font-size: 0.875rem
}

.fs-24 {
  font-size: 1.5rem
}

.c-black {
  color: #232323
}

.mb-10 {
  margin-bottom: 0.625rem
}

.right-10 {
  right: 0.625rem
}

.top-10 {
  top: 0.625rem
}

.bgc-white {
  background-color: #FFFFFF
}

.bc-green {
  border-color: #2E9F65 !important
}

.c-green {
  color: #2E9F65
}

.pt-15 {
  padding-top: 0.9375rem
}

.fs-36 {
  font-size: 2.25rem
}

.lh-24 {
  line-height: 1.5rem
}

.w-50 {
  width: 3.125rem
}

.pt-10 {
  padding-top: 0.625rem
}

.h-32 {
  height: 2rem !important
}

.h-30 {
  height: 1.875rem !important
}

.w-74 {
  width: 4.625rem
}

.w-57 {
  width: 3.5625rem
}

.ps-25 {
  padding-left: 1.5625rem
}

.w-200 {
  width: 12.5rem
}

.w-80 {
  width: 5rem
}

.w-85 {
  width: 5.3125rem
}

.minw-133 {
  min-width: 8.3125rem
}

.minw-71 {
  min-width: 4.4375rem
}

.w-183 {
  width: 11.4375rem
}

.minw-183 {
  min-width: 11.4375rem
}

.w-133 {
  width: 8.3125rem
}

.c-yellow {
  color: #FFA10A
}

.c-red {
  color: #EB5757
}

.w-800 {
  width: 50rem
}

.w-128 {
  width: 8rem
}

.h-64 {
  height: 4rem
}

.w-770 {
  width: 48.125rem
}

.gap-10 {
  gap: 0.625rem
}

.ps-61 {
  padding-left: 3.8125rem
}

.w-40 {
  width: 2.5rem
}

.h-40 {
  height: 2.5rem
}

.br-6 {
  border-radius: 0.375rem
}

.w-159 {
  width: 9.9375rem
}

.w-20 {
  width: 1.25rem
}

.h-20 {
  height: 1.25rem
}

.mt-40 {
  margin-top: 2.5rem
}
