@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #3d3d3d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}



a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }

}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}


.cursor-pointer {
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid rgba(35, 35, 35, 0.2);
}

.border-left {
  border-left: 1px solid rgba(35, 35, 35, 0.2);
}

.trans {
  transition: 0.3s;
}

.content-site {
  width: 100%;
  height: 100vh;
  @include flex('s', 's');
}

.main-content {
  width: calc(100% - 68px);

  &-menu {
    width: 100%;
  }

  &-tab {
    color: rgba(35, 35, 35, 0.8);;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    padding: 10px 12px;
    border-bottom: 2px solid rgba(35, 35, 35, 0.07);

    &.active {
      color: rgb(46, 159, 101);
      border-bottom: 2px solid rgb(46, 159, 101);
    }

    .icon-check{
      display: none;
    }

    &.nav-step-successes{
      border-bottom: 2px solid rgba(46, 159, 101, 0.5);
      .step-count{
        display: none;
      }
      .icon-check{
        display: inline-block;
      }
    }
  }

  &-push {
    margin-left: 12px;
    width: 56px;
    height: 56px;
    @include flex('c', 'c');
    cursor: pointer;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 15px;
      top: 15px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgb(235, 87, 87);
    }
  }
}

.menu-left {
  position: static;
  width: 68px;
  height: 100vh;
  box-shadow: 0 12px 28px 0 rgba(0, 32, 51, 0.12), 0 8px 8px 0 rgba(0, 32, 51, 0.04);
  background: rgb(255, 255, 255);
  @include flex('s', 'c');
  flex-direction: column;

  &-item {
    border-radius: 50%;
    cursor: pointer;
    @include flex('c', 'c');
    margin-bottom: 10px;

    &.active {
      color: #2E9F65;
      background-color: rgba(46, 159, 101, 0.26);
    }

    &:hover {
      span {
        color: #2E9F65;
      }
    }
  }
}

.balance-dropdown {
  .dropdown-toggle {
    width: 172px;
    background: rgba(35, 35, 35, 0.07);
    border: 0;
    border-radius: 0;
    color: rgba(35, 35, 35, 0.8);
  }

  .dropdown-menu {
    border: 2px solid rgba(35, 35, 35, 0.28);
    border-radius: 0;
    margin-top: -2px;
    width: 172px;

    .dropdown-item {
      color: #232323;
      border-left: 3px solid transparent;
      font-size: 14px;

      &:active{
        background-color: #2E9F65;
        color: #fff !important;
      }
      &:hover {
        color: #2E9F65;
        border-left: 3px solid #2E9F65;
      }
    }
  }
}

.default-search {
  width: 308px;
  height: 40px;
  border: 1px solid rgba(35, 35, 35, 0.28);
  @include flex('s', 'c');
  padding-left: 10px;
  overflow: hidden;

  input{
    width: 100%;
  }
  span {
    color: rgba(35, 35, 35, 0.35);
    margin-right: 10px;
  }
}

.form-check-label {
  color: rgb(35, 35, 35);
  font-weight: 400;
  line-height: 150%;
  @include flex('s', 's');

  input {
    margin-right: 5px;

    &:checked {
      border: #2E9F65;
      background-color: #2E9F65;
    }

    &:focus {
      border-color: #2E9F65;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(46, 159, 101, 0.37);
    }
  }
}


.default-input {
  height: 40px;
  border: 1px solid #23232347;
  width: 100%;
  padding-left: 5px;

  input {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 16px;
    padding-left: 8px;
  }
}

.default-range {
  @include flex('s', 'c');

  span {
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #23232347;
    position: relative;
    transition: border 0.3s;
    margin-right: 5px;

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #2E9F65;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &.min{
    span{
      width: 12px;
      min-width: 12px;
      height: 12px;
      &:after {
        width: 6px;
        height: 6px;
      }
    }
  }

  input:checked ~ span {
    border: 1px solid #2E9F65;
  }

  input:checked ~ span:after {
    opacity: 1;
  }

}

.upload-design {
  width: 100%;
  padding: 27px;
  border: 2px dashed rgba(35, 35, 35, 0.28);
}

.green-btn {
  height: 40px;
  background-color: #2E9F65;
  color: #fff;
  padding: 0 16px;
  transition: 0.3s;

  &:hover {
    background-color: #248d58;
  }
}

.ads-company-row {
  height: calc(100vh - 69px);
  overflow: auto;
}

.default-table {
  width: 100%;
  border: 1px solid rgba(35, 35, 35, 0.2);

  th, td {
    height: 65px;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid rgba(35, 35, 35, 0.2);
    border-bottom: 1px solid rgba(35, 35, 35, 0.2);
  }

  .dropdown{
    .btn{
      width: 30px;
      background-color: transparent;
      &:after{
        display: none;
      }
    }
  }
}

.default-tooltip {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &-text {
    position: absolute;
    top: 0;
    left: -5px;
    font-size: 12px;
    background: #ffffff;
    color: #232323;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background: #ffffff;
      bottom: -3px;
      left: 15px;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

  }

  &:hover{
    span:before{
      color: #0C4D29;
    }
    .default-tooltip-text{
      top: -100%;
      transform: translateY(-100%) rotate(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.exit-navbar{
  position: relative;

  &:hover{
    .exit-navbar-body{
      display: block;
    }
  }
  &-body{
    position: absolute;
    width: 133px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    top: calc(100% + 5px);
    right: -10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    display: none;
    &:before{
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background: #fff;
      top: -3px;
      right: 15px;
      transform: translate(-50%) rotate(45deg);
    }

  }
}

.btn-danger{
  padding: 8px 14px;
  color: #232323CC;
  background-color: #23232312;
}

.ms-parent input[type="checkbox"],
.default-checkbox {
  --hover-background: rgba(46, 159, 101, 0.20);
  --checkmark-svg: url('../images/icons/check.svg');
  --indeterminate-svg: url('../images/icons/minous.svg');

  display: inline-block;
  height: 1rem;
  width: 1rem;
  position: relative;
  cursor: pointer;
  appearance: none; // disable default browser styles
  color: currentColor; // use same color as surrounding text
  border-radius: 4px;
  border: 1px solid #23232347;
  background-color: #fff;

  &:disabled {
    cursor: not-allowed;
  }


  &::before {
    content: "";
    position: absolute;
    inset: -0.75rem;
    border-radius: 50%;
    transition: background-color 200ms;

    @media (pointer: coarse) {
      inset: -1.25rem;
      --hover-background: transparent;
    }
  }

  //&:enabled:where(:hover, :focus-visible) {
  //  outline-offset: 1px;
  //
  //  &::before {
  //    background-color: var(--hover-background);
  //  }
  //}

  &:checked{
    border: 1px solid #2E9F65;
    background-color: #2E9F65;
  }

  &.input-indeterminate{
    &:indeterminate{
      border: 1px solid #2E9F65;
      background-color: #2E9F65;
    }
    &:indeterminate::after {
      content: "";
      position: absolute;
      inset: 0;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 10px;
      background-color: #fff;
    }

    &:indeterminate::after {
      mask-image: var(--indeterminate-svg);
    }
  }

  &:checked::after {
    content: "";
    position: absolute;
    inset: 0;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 10px;
    background-color: #fff;
  }

  &:checked::after {
    mask-image: var(--checkmark-svg);
  }
}

.form-switch{
  @include flex('s', 'c');
  .form-check-input{
    width: 36px;
    min-width: 36px;
    height: 20px;
    margin-right: 8px;
    &:checked{
      background-color: #2E9F65;
      border-color: #2E9F65;
    }
  }
}

.ms-parent{
  width: 100% !important;
  .placeholder{
    display: none !important;
  }
  .bottom{
    border-radius: 0;
    border-color: #23232347;
  }
  .ms-choice{
    height: 40px;
    border-radius: 0;
    position: relative;
    border-color: #23232347;
    span{
      height: 40px !important;
      padding-top: 5px;
      width: 82%;
      color: #23232359;
    }
    &:after{
      content: "";
      position: absolute;
      width: 0.5px;
      height: 100%;
      background: #23232347;
      right: 35px;
      top: 0;
    }
  }
  .icon-caret{
    right: 14px !important;
  }
  ul>li label{
    font-size: 16px;
    color: #232323;
  }
}
.accordion-button:not(.collapsed), .accordion-button{
  background-color: #23232312;
  border-radius: 0;
  box-shadow: unset;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;

  &:focus{
    outline: 0;
    box-shadow: unset;
  }
}


.billboard-accordion-item{
  border: 0;
  border-radius: 0;
}

.month-time-item{
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  margin-right: 10px;
  height: 75px;
  width: 16px;
  span{
    white-space: nowrap;
    transform: rotate(-90deg) translate(15px, -14px);
  }
}




